/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (5.1.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.bol.mancala.api;

import com.bol.mancala.exception.MancalaBaseException;
import com.bol.mancala.model.MancalaBoard;
import io.swagger.annotations.*;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PutMapping;

import java.util.Optional;

@Validated
@Api(value = "play")
public interface PlayGameApi {
    /**
     * PUT /paly/{gameId}/{pit} : Play game by click on a pit
     * Update an already game. gameId specify the game and pit specify the pit number that user choose
     *
     * @param pit    pit number that user choose (required)
     * @param gameId Id of the game to update (required)
     * @return Game updated (status code 200)
     */
    @ApiOperation(value = "Play game by click on a pit", nickname = "playGame",
            notes = "Update an already game. gameId specify the game and pit specify the pit number that user choose",
            response = MancalaBoard.class, tags = {})
    @ApiResponses(value = {
            @ApiResponse(code = 200, message = "Game updated", response = MancalaBoard.class)})
    @PutMapping(
            value = {"/play/{pit}/{gameId}", "/play/{pit}" },
            produces = {"application/json"}
    )
    default ResponseEntity<MancalaBoard> playGame(@ApiParam(value = "pit number that user choose", required = true, example = "1")
                                                      @PathVariable("pit") Integer pit,
                                                  @ApiParam(value = "Id of the game to update", example = "6279061a-2bf6-40a6-88f9-a249b4c4eca5")
                                                  @PathVariable(value = "gameId", required = false) String gameId
                                                  ) throws MancalaBaseException {
        return new ResponseEntity<>(HttpStatus.NOT_IMPLEMENTED);
    }
}
